@media only screen and (max-device-width: 576px) and (min-device-width: 320px) {
  /* Begin: Responsive Selector */
  #navbar-lap {
    display: none;
  }

  #navbar-tablet {
    display: none;
  }

  #navbar-mobile {
    display: block;
  }

  section#about-tap-lab {
    display: none;
  }

  section#about-mobile {
    display: block;
  }

  /* End: Responsive Selector */
  /* Begin: Main Selector */

  /* End: Main Selector */
}
